.css-1aquho2-MuiTabs-indicator {
  background-color: #ea7c69 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: #ffffff !important;
}
.Mui-selected {
  color: #ea7c69 !important;
}
.css-1gsv261 {
  border-color: gray !important ;
}

.css-13xfq8m-MuiTabPanel-root {
  padding: 0 !important;
  margin-top: 50px;
}
